@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
  background: #fff;
}
h1 {
  background: #4085fd;
  font-size: 1.75rem;
  text-align: center;
  padding: 18px 0;
  color: #fff;
}
.home-button {
  display: flex;
  align-content: center;
  cursor: pointer;
  margin-right: 10px;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #11e875;
  color: #fff;
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.home-button:hover {
  background-color: #e87511;
}
.container {
  display: flex;
  gap: 35px;
  padding: 30px;
}
.current-location {
  width: 550px;
}
.current-location h3 {
  text-align: center;
}
.current-location p {
  height: 60px;
  width: 100%;
  outline: none;
  font-size: 1.07rem;
  padding: 0 17px 17px 17px;
  margin: 10px 0 20px 0;
  border-radius: 4px;
  border: 1px solid #fdc159;
  text-align: center;

}
a:link, a:visited {
  background-color: none;
  text-decoration: none;
  display: inline-block;
  color: black;
}
.uv-index-data {
  width: 100%;
}
.current-uv-index {
  color: #fff;
  background: #5995fd;
  border-radius: 5px;
  padding: 20px 70px 20px 20px;
  display: flex;
  justify-content: space-between;
}
.current-uv-index h2 {
  font-weight: 700;
  font-size: 1.7rem;
}
.uv-index-data h4 {
  margin-top: 12px;
  font-size: 1rem;
  font-weight: 500;
}
.current-uv-index .icon img {
  max-width: 120px;
  margin-top: -10px;
}
.current-uv-index .icon {
  text-align: center;
}
.current-uv-index .icon h4 {
  margin-top: 10px;
  text-transform: capitalize;
}
.days-forecast h2 {
  margin: 20px 0;
  font-size: 1.5rem;
}
.uv-index-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.uv-index-cards .card {
  color: #fff;
  padding: 18px 16px;
  list-style: none;
  width: calc(100% / 5);
  background: #fdc159;
  border-radius: 5px;
  margin-bottom: 20px;
  width: calc(100% / 4);
}
.uv-index-cards .card h3 {
  font-size: 1.3rem;
  font-weight: 600;
}
.uv-index-cards .card img {
  max-width: 70px;
  margin: 5px 0 0 0;
}

@media (max-width: 1400px) {
  .uv-index-data .current-uv-index {
    padding: 20px;
  }
  .uv-index-cards {
    display: flex;
    flex-wrap: wrap;
  }
  .uv-index-cards .card {
    width: calc(100% / 3 - 15px);
  }
}
@media (max-width: 1200px) {
  .uv-index-cards {
    display: flex;
    flex-wrap: wrap;
  }
  .uv-index-cards .card {
    width: calc(100% / 2 - 15px);
  }
}
@media (max-width: 950px) {
  .current-location {
    width: 450px;
  }
  .uv-index-cards .card {
    width: 100%;
  }
}
@media (max-width: 750px) {
  h1 {
    font-size: 1.45rem;
    padding: 16px 0;
  }
  .container {
    flex-wrap: wrap;
    padding: 15px;
  }
  .current-location {
    width: 100%;
  }
  .uv-index-data h2 {
    font-size: 1.35rem;
  }
}