<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonynous"></script>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login-style.css') }}">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <div class="enter-current">
                <form method="post" action="/" class="enter-address-form">
                    <h2 class="title">Input Address</h2>
                    <div class="input-field">
                        <i class="form-address"></i>
                        <input type="text" placeholder="e.g. Tokyo" name="address">
                    </div>
                    <p class="latitude-longitude">Or Get uv index with coordinates</p>
                    <div class="input-field">
                        <i class="form-latitude"></i>
                        <input type="text" placeholder="Latitude (e.g. 35.6821936)" name="latitude">
                    </div>
                    <div class="input-field">
                        <i class="form-longitude"></i>
                        <input type="text" placeholder="Longitude (e.g. 139.762221)" name="longitude">
                    </div>
                    <input type="submit" value="Get UV Index" class="btn solid">
                </form>
                <form method="post" action="/" class="current-address-form">
                    <h2 class="title">AutoLocate</h2>
                    <div class="input-field">
                        <i class="form-address"></i>
                        <input type="text" placeholder="Address" id="address" name="address" readonly>
                    </div>
                    <div class="input-field">
                        <i class="form-latitude"></i>
                        <input type="text" placeholder="Latitude" id="latitude" name="latitude" readonly>
                    </div>
                    <div class="input-field">
                        <i class="form-longitude"></i>
                        <input type="text" placeholder="Longitude" id="longitude" name="longitude" readonly>
                    </div>
                    <input type="submit" value="Get UV Index" class="btn solid">
                    <p id="demo" style="font-style: italic; color: black; margin-top: 5px; text-align: left;"></p>
                </form>
            </div>
        </div>
        <div class="panel-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Use AutoLocate ?</h3>
                    <p>The automatic search feature utilizes location tracking technology to provide UV index information based on your current location. The system will automatically retrieve your location and provide instant information about the UV index in that area. This feature is particularly convenient for users who want quick information without the need to manually enter an address.</p>
                    <button class="btn transparent" id="current-address-btn" onclick="getUVIndexWithCurrentLocation()">AutoLocate</button>
                </div>
                <img src="https://cdn-icons-png.flaticon.com/512/4678/4678534.png" class="image" alt="">
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>Input address ?</h3>
                    <p>The manual search feature allows you to enter an address directly into the search form. This gives you full control over the location you want to check for UV index. Ideally, you can find out the UV exposure level in a specific area. Simply input the address you want to examine, and our system will provide you with up-to-date information on the UV index in that region.</p>
                    <button class="btn transparent" id="enter-address-btn">Input Address</button>
                </div>
                <img src="https://cdn3.iconfinder.com/data/icons/weather-vector-line-2/128/59-1024.png" class="image" alt="">
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>